%header.header.standard
  %a.logo.standard{:href => "index.html"}
  %dl.form_cell.form_cell_v1_mod.header_search
    %dt.form_c_hline.form_v1_mod.hline_hide_mod.header_mod
      %label{:for => "search"} Search for facilities, products, employees etc...
    %dd.form_c_f_w.form_v1_mod.hline_hide_mod.header_mod
      %input#search.f_c_field.second_mod.header_mod{:placeholder => "Search for facilities, products, employees etc...", :type => "text"}/
  %a.user_menu_msg_center_butt{:href => "messages_center.html", :title => "Messaging Center"}
  %nav.user_menu_block
    .user_menu_butt
      Menu
      %span.user_menu_butt_decor
    .user_menu_w
      %ul.section_menu_list.header_mod
        %li.section_menu_l_item.header_mod
          %a.section_menu_link.header_mod{:href => "messages_center.html", :title => "Messaging Center"} Messaging Center
        %li.section_menu_l_item.header_mod
          %a.section_menu_link.header_mod{:href => "", :title => "Wizard Menu"} Wizard Menu
          %ul.section_menu_list.header_mod.sub_mod
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Operations"}
                Add Operations
                %span.section_m_link_count 2k
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Products"}
                Add Products
                %span.section_m_link_count 3k
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Services"}
                Add Services
                %span.section_m_link_count 3k
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Supply Chain"}
                Add Supply Chain
                %span.section_m_link_count 3k
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Document/Certificates"}
                Add Document/Certificates
                %span.section_m_link_count 3k
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Auditors"}
                Add Auditors
                %span.section_m_link_count 5k
            %li.section_menu_l_item.header_mod
              %a.section_menu_link.header_mod{:href => "", :title => "Add Lab"}
                Add Lab
                %span.section_m_link_count 5k
      .section_menu_list.header_2_mod
        .section_menu_l_item.header_2_mod
          .section_menu_link.header_2_mod Account Menu
        %ul
          %li.section_menu_l_item.header_2_mod
            %a.section_menu_link.header_2_mod.hovered_2_mod{:href => "", :title => "Edit Profile"} Edit Profile
          %li.section_menu_l_item.header_2_mod
            %a.section_menu_link.header_2_mod.hovered_2_mod{:href => "", :title => "Account Settings"} Account Settings
          %li.section_menu_l_item.header_2_mod
            %a.section_menu_link.header_2_mod.hovered_2_mod{:href => "", :title => "Help Center"} Help Center
          %li.section_menu_l_item.header_2_mod
            %a.section_menu_link.header_2_mod.hovered_2_mod{:href => "", :title => "Logout"} Logout
      .invite_users_butt Invite Users
  .user_block.header_mod
    .user_avatar_w.header_mod
      %img.user_avatar_img.header_mod{:alt => "Ron Vail", :src => "i/header_user_ava.jpg"}/
