<div class="add_info_block">
  <div class="add_info_header">
	<div class="add_info_title" ng-class="{'required_mod': data.required == 'true'}">{{data.name}}</div>
	<div class="add_info_colapse_butt" ng-click="infoColapseButt($event)"></div>
  </div>
  <div class="add_info_content_block">
	<div class="add_info_content" ng-if="definitionValueExist()"><p>{{store.definition_value[data.id]}}</p></div>
	<div class="add_info_form_block">
	  <div class="add_info_form_w">
		<dl class="form_cell form_cell_v1_mod">
		  <dt class="form_c_hline form_v1_mod hline_hide_mod">
			<label for="{{data.name}}">{{data.name}}</label>
		  </dt>
		  <dd class="form_c_f_w form_v1_mod hline_hide_mod">
			<input type="{{data.input_type}}" placeholder="{{data.name}}" ng-required="{{data.required == 'true'}}" class="f_c_field default_mod" ng-model="document.definition_value[data.id]">
		  </dd>
		</dl>
	  </div>
	</div>
  </div>
</div>