<article class="profile_card_block" ng-class="{ primary_mod: data.featured }">
  <span class="corner_ico service_mod"></span>
  <div class="user_block profile_card_mod ">
    <a class="user_avatar_w profile_card_mod " href="#service/{{data.id}}">
      <img ng-if="data.profile.thumb_url != '/assets/avatar.jpg'" ng-src="{{data.profile.thumb_url}}" alt="{{data.name}}" class="user_avatar_img profile_card_mod">
	  <span ng-if="data.profile.thumb_url == '/assets/avatar.jpg'" class="user_avatar_img profile_card_mod no_img_mod service_mod"></span>
    </a>
    <a class="user_name profile_card_mod" href="#service/{{data.id}}">{{data.name}}</a>

    <div class="user_info profile_card_mod" ng-if="data.company.name">{{data.company.name}}</div>

    <div class="user_text profile_card_mod" ng-if="data.profile.summary">
      <p style="white-space: pre-line;">{{data.profile.summary}}</p>
    </div>
  </div>

  <div class="profile_card_b_footer" ng-if="current_user_id != data.admin_id">
	<div class="card_follow_butt" ng-if="!data.followed_by_current_user" ng-click="follow_me(data)"><%= t('follow') %></div>
	<div class="card_follow_butt" ng-if="data.followed_by_current_user" ng-click="unfollow_me(data)"><%= t('unfollow') %></div>
  </div>
</article>