<gf-filter-operation-template ng-repeat="detail in details" data="detail"></gf-filter-operation-template>
<div class="company_empty_mod" ng-if="!public_operation.summary">
    <p>Oops, it looks like Company {{public_operation.company.name}} has not completed its profile</p>
</div>