  <div class="compain_header">
    <div class="user_block detail_mod ">
      <div class="user_avatar_w detail_mod no_img_mod">
      </div>
      <div class="user_name detail_mod">Coca Cola</div>
    </div>
    <div class="compain_header_side_w"><a href="" title="" class="back_to_company_butt">Back to Coca Cola</a></div>
  </div>
  <div class="offer_header">
    <div class="offer_text">Michael has requested for you to authenticate this document</div>
    <div class="detail_make_offer_butt">Make an Offer</div>
  </div>
  <div class="main_row layuot_mod_2">
    <div class="detail_block">
      <div class="detail_header">
        <div class="user_block detail_mod ">
          <div class="user_avatar_w detail_mod "><img src="i/ava-60.jpg" alt="Name of service" class="user_avatar_img detail_mod">
          </div>
          <div class="user_name detail_mod">Name of service</div>
          <div class="user_info detail_mod">Issued for name of service</div>
        </div>
        <div class="detail_header_side_w"><a href="" title="" class="detail_follow_butt">Follow</a></div>
      </div>
      <div class="detail_b_content">
        <div class="detail_b_content_header">
          <ul class="post_f_list">
            <li class="post_f_list_item">
              <dl class="tag_block">
                <dt class="tag_b_text">Operations</dt>
                <dd class="tag_b_value">5</dd>
              </dl>
            </li>
            <li class="post_f_list_item">
              <dl class="tag_block">
                <dt class="tag_b_text">Services</dt>
                <dd class="tag_b_value">5</dd>
              </dl>
            </li>
            <li class="post_f_list_item">
              <dl class="tag_block">
                <dt class="tag_b_text">Products</dt>
                <dd class="tag_b_value">5</dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="detail_b_content_text">
          <h2>Field info #1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim.</p>
          <h2>Field info #1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim.</p>
        </div>
        <div class="detail_b_comments"><span class="detail_b_comments_info">2 Comments &amp; 1 offer</span>
          <article class="msg_block comment_mod">
            <header class="msg_header">
              <div class="user_block profile_small_mod selected_mod ">
                <div class="user_avatar_w profile_small_mod selected_mod "><img src="i/ava_36.jpg" alt="Michael Abehsera <span class=&quot;name_position&quot;>Auditor GFSI</span> has an offer for you" class="user_avatar_img profile_small_mod selected_mod">
                </div>
                <div class="user_name profile_small_mod selected_mod">Michael Abehsera <span class="name_position">Auditor GFSI</span> has an offer for you</div>
              </div>
              <div class="msg_time">3 Min Ago</div>
            </header>
            <div class="msg_offer comment_mod">
              <dl class="msg_offer_info">
                <dt class="msg_offer_info_hline">Timeline:</dt>
                <dd class="msg_offer_info_descr">I will have it done by 09/10/2015</dd>
                <dd class="msg_offer_info_value">100$</dd>
              </dl>
              <div class="msg_offer_accept_butt">Accept &amp; Pay</div>
            </div>
            <div class="msg_content comment_mod">
              <p>We're joining forces with Perfect Coffee so that you're always ready to brew. It’s with much excitement that we announce our acquisition of Perfect Coffee, a subscription service dedicated to getting guests the most delicious ground coffee available. Founded in 2013 by Neil Day (a former technology vet of companies like Apple, Sears, and Shutterfly), Perfect Coffee has made two important breakthroughs in how we interact with ground coffee.</p>
            </div>
          </article>
          <article class="msg_block comment_mod">
            <header class="msg_header">
              <div class="user_block profile_small_mod ">
                <div class="user_avatar_w profile_small_mod "><img src="i/ava_36.jpg" alt="John Allen" class="user_avatar_img profile_small_mod">
                </div>
                <div class="user_name profile_small_mod">John Allen</div>
              </div>
              <div class="msg_time">3 Min Ago</div>
            </header>
            <div class="msg_content comment_mod">
              <p>We're joining forces with Perfect Coffee so that you're always ready to brew. It’s with much excitement that we announce our acquisition of Perfect Coffee, a subscription service dedicated to getting guests the most delicious ground coffee available. Founded in 2013 by Neil Day (a former technology vet of companies like Apple, Sears, and Shutterfly), Perfect Coffee has made two important breakthroughs in how we interact with ground coffee.</p>
            </div>
          </article>
        </div>
        <div class="form_avatar_block">
          <div class="user_block form_mod ">
            <div class="user_avatar_w form_mod "><img src="i/header_user_ava.jpg" alt="undefined" class="user_avatar_img form_mod">
            </div>
            <div class="user_name form_mod"></div>
          </div>
          <dl class="form_cell form_cell_v1_mod">
            <dt class="form_c_hline form_v1_mod hline_hide_mod hor_mod">
              <label for="Enter_comment">Enter comment</label>
            </dt>
            <dd class="form_c_f_w form_v1_mod hline_hide_mod hor_mod">
              <input type="text" id="Enter_comment" placeholder="Enter comment" class="f_c_field fourth_mod form_avatar_mod ">
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>