<dl class="form_cell form_cell_v1_mod" ng-class="dlclass">
  <dt class="form_c_hline form_v1_mod hline_hide_mod" ng-class="containersclass">
    <label for="{{id}}">{{ptitle}}</label>
  </dt>
  <dd class="form_c_f_w form_v1_mod hline_hide_mod" ng-class="containersclass">
    <input type="text" id="{{id}}"
           placeholder="{{ptitle}}"
           class="f_c_field"
		   ng-model="model"
		   ng-class="fieldclass"/>
  </dd>
</dl>