<div class="main_row layuot_mod_2">
  <div class="goods_route_block">
    <dl class="form_cell form_cell_v1_mod goods_route_mod">
      <dt class="form_c_hline form_v1_mod hline_hide_mod">
        <label for="“Company”_Buys_from_“company”">“Company” Buys from “company”</label>
      </dt>
      <dd class="form_c_f_w form_v1_mod hline_hide_mod">
        <input type="text" id="“Company”_Buys_from_“company”" placeholder="“Company” Buys from “company”" class="f_c_field default_mod clear_butt_mod">
      </dd>
    </dl>
    <header class="goods_route_header">
      <h1 class="goods_route_title">Connections between <span class="important_mod">“K&amp;K”</span> and <span class="important_mod">“Michael Abehsera”</span></h1>
    </header>
    <div class="goods_route_inner">
      <ul class="goods_route_row first_row_mod">
        <li class="goods_route_row_item">
          <div class="user_block default_mod hor_mod goods_mod compliant_mod ">
            <div class="user_avatar_w default_mod hor_mod goods_mod compliant_mod "><img src="i/ava_36.jpg" alt="K&amp;K" class="user_avatar_img default_mod hor_mod goods_mod compliant_mod">
            </div>
            <div class="user_name default_mod hor_mod goods_mod compliant_mod">K&amp;K</div>
          </div>
        </li>
      </ul>
      <ul data-connections-count="4" class="goods_route_row main_row_mod route_mod_3">
        <li class="goods_route_row_item">
          <div class="user_block default_mod hor_mod goods_mod non_compliant_mod ">
            <div class="user_avatar_w default_mod hor_mod goods_mod non_compliant_mod "><img src="i/ava_36.jpg" alt="Hello Company" class="user_avatar_img default_mod hor_mod goods_mod non_compliant_mod">
            </div>
            <div class="user_name default_mod hor_mod goods_mod non_compliant_mod">Hello Company</div>
          </div>
        </li>
        <li class="goods_route_row_item">
          <div class="user_block default_mod hor_mod goods_mod warning_mod ">
            <div class="user_avatar_w default_mod hor_mod goods_mod warning_mod "><img src="i/ava_36.jpg" alt="Company wow" class="user_avatar_img default_mod hor_mod goods_mod warning_mod">
            </div>
            <div class="user_name default_mod hor_mod goods_mod warning_mod">Company wow</div>
          </div>
        </li>
        <li class="goods_route_row_item">
          <div class="user_block default_mod hor_mod goods_mod compliant_mod ">
            <div class="user_avatar_w default_mod hor_mod goods_mod compliant_mod "><img src="i/ava_36.jpg" alt="Coca Cola" class="user_avatar_img default_mod hor_mod goods_mod compliant_mod">
            </div>
            <div class="user_name default_mod hor_mod goods_mod compliant_mod">Coca Cola</div>
          </div>
        </li>
        <li class="goods_route_row_item">
          <div class="user_block default_mod hor_mod goods_mod non_compliant_mod ">
            <div class="user_avatar_w default_mod hor_mod goods_mod non_compliant_mod "><img src="i/ava_36.jpg" alt="John’s" class="user_avatar_img default_mod hor_mod goods_mod non_compliant_mod">
            </div>
            <div class="user_name default_mod hor_mod goods_mod non_compliant_mod">John’s</div>
          </div>
        </li>
      </ul>
      <ul class="goods_route_row last_row_mod">
        <li class="goods_route_row_item">
          <div class="user_block default_mod hor_mod goods_mod warning_mod ">
            <div class="user_avatar_w default_mod hor_mod goods_mod warning_mod "><img src="i/ava_36.jpg" alt="Michael Abehsera" class="user_avatar_img default_mod hor_mod goods_mod warning_mod">
            </div>
            <div class="user_name default_mod hor_mod goods_mod warning_mod">Michael Abehsera</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>