<div class="content_block full_page">
<header class="add_info_main_header mod_static_two">
    <h1 class="content_headline requirements_mod">Privacy Policy</h1>
</header>
<div class="static_page_content">
  <p class="coming_soon_mod">
    <span class="txt">Coming soon ...</span>
  </p>
</div>