<div class="secondary_row layuot_mod_1">
  <div class="section_menu mod_1">
	<h2 class="section_hline">My Requirements</h2>
	<ul class="section_menu_list">
	  <li class="section_menu_l_item">
		<div class="section_menu_link hovered_5_mod sectionMenuHiddenTrigger">
		  Coca Cola
		  <span class="section_m_link_count">5</span>
		</div>
		<div class="section_menu_hidden" style="display: none;">
		  <ul class="menu_cat_search_result">
			<li class="menu_cat_search_result_item container_mod ng-scope">
			  <a class="menu_cat_s_result_el container_mod ng-binding" title="Ross GreenFood (C)" href="#/supplier/6">Ross GreenFood (C)</a>
			</li>
			<li class="menu_cat_search_result_item container_mod ng-scope">
			  <a class="menu_cat_s_result_el container_mod ng-binding" title="Reachal GreenFood (C)" href="#/supplier/1">Reachal GreenFood (C)</a>
			</li>
		  </ul>
		</div>
	  </li>
	  <li class="section_menu_l_item">
		<div class="section_menu_link hovered_5_mod sectionMenuHiddenTrigger">
		  Cargill
		  <span class="section_m_link_count">5</span>
		</div>
		<div class="section_menu_hidden" style="display: none;">
		  <ul class="menu_cat_search_result">
			<li class="menu_cat_search_result_item container_mod ng-scope">
			  <a class="menu_cat_s_result_el container_mod ng-binding" title="Ross GreenFood (C)" href="#/supplier/6">Ross GreenFood (C)</a>
			</li>
			<li class="menu_cat_search_result_item container_mod ng-scope">
			  <a class="menu_cat_s_result_el container_mod ng-binding" title="Reachal GreenFood (C)" href="#/supplier/1">Reachal GreenFood (C)</a>
			</li>
		  </ul>
		</div>
	  </li>
	  <li class="section_menu_l_item">
		<div class="section_menu_link hovered_5_mod sectionMenuHiddenTrigger">
		  Delmonica Specialty Foods
		  <span class="section_m_link_count">5</span>
		</div>
		<div class="section_menu_hidden" style="display: none;">
		  <ul class="menu_cat_search_result">
			<li class="menu_cat_search_result_item container_mod ng-scope">
			  <a class="menu_cat_s_result_el container_mod ng-binding" title="Ross GreenFood (C)" href="#/supplier/6">Ross GreenFood (C)</a>
			</li>
			<li class="menu_cat_search_result_item container_mod ng-scope">
			  <a class="menu_cat_s_result_el container_mod ng-binding" title="Reachal GreenFood (C)" href="#/supplier/1">Reachal GreenFood (C)</a>
			</li>
		  </ul>
		</div>
	  </li>
	</ul>
  </div>
</div>