<article class="requirements_block">
  <header class="datail_b_header_v1 mod_70">
	<div class="user_block default_mod h_70_mod hor_mod requirements_mod">
	  <div class="user_avatar_w default_mod h_70_mod hor_mod requirements_mod ">
		<img ng-src="{{notification.from.photo_url}}"  alt="{{notification.from.name}}" class="user_avatar_img default_mod h_70_mod hor_mod requirements_mod"/>
	  </div>
	  <div class="user_name default_mod h_70_mod hor_mod requirements_mod">Delmonica Specialty Foods is Requesting a New Requirement</div>
	</div>
	<div class="status_block compliant datail_mod">Status: In Progress</div>
  </header>
  <!--default state-->
  <div class="datail_b_stats">

	<span class="datail_b_stats_hline">1 Requirements & 1 Comment</span>
  </div>
  <div class="requirements_b_content_wrap">
	<div class="requirements_b_content">
	  <ul class="requirements_list">
		<li class="requirements_list_item">
		  <span class="requirements_item upload_mod">Upload RSPO Certificate</span>
		</li>
		<li class="requirements_list_item">
		  <span class="requirements_item">Authenticate Certificate</span>
		</li>
		<li class="requirements_list_item">
		  <span class="requirements_item">Deadline: 10/10/15</span>
		</li>
	  </ul>

	</div>
	<div class="gl_action_block requirements_mod">
	  <a href="" title="" class="gl_action_trigger_butt take_action_2_butt">Browse Document</a>
	  <ul class="gl_action_list msg_mod">
		<li class="gl_action_item msg_mod">
		  <a href="" title="Accept" class="gl_action_butt style_two_mod " >RSPO</a>
		</li>
		<li class="gl_action_item msg_mod">
		  <a href="" title="Deny" class="gl_action_butt style_two_mod " >Test Document #1</a>
		</li>
		<li class="gl_action_item msg_mod">
		  <a href="" class="gl_action_butt butt_mod_1" >Add New Document</a>
		</li>
	  </ul>
	</div>
  </div>
  <!--default state-->
  <!--Completed state-->
  <div class="datail_b_stats">
	<span class="datail_b_stats_hline">1 Requirements & 1 Comment</span>
  </div>
  <div class="requirements_b_content_wrap">
	<div class="requirements_b_content">
	  <ul class="requirements_list">
		<li class="requirements_list_item">
		  <span class="requirements_item upload_mod">Upload RSPO Certificate</span>
		</li>
	  </ul>
	</div>
	<span class="status_2_block completed_mod">Completed</span>
  </div>
  <!--Completed state-->


  <div class="msg_comment_block">
	<header class="msg_header msg_comment_2_mod">
	  <div class="user_block default_mod h_48_mod hor_mod msg_comment_2_mod ">
		<div class="user_avatar_w default_mod h_48_mod hor_mod msg_comment_2_mod "><img src="/i/ron-vail.jpg" alt="Kristin Colony" class="user_avatar_img default_mod h_48_mod hor_mod msg_comment_2_mod"/>
		</div>
		<div class="user_name default_mod h_48_mod hor_mod msg_comment_2_mod">
		  Kristin Colony
		  <span class="second_style">/ CEO Berry Good Food</span>
		</div>
	  </div>
	  <div class="msg_time">3 Min Ago</div>
	</header>
	<div class="msg_content">
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labo et dolore magna aliqua.</p>
	</div>
  </div>
  <div class="msg_comment_block">
	<header class="msg_header msg_comment_2_mod">
	  <div class="user_block default_mod h_48_mod hor_mod msg_comment_2_mod ">
		<div class="user_avatar_w default_mod h_48_mod hor_mod msg_comment_2_mod "><img src="/i/ron-vail.jpg" alt="Kristin Colony" class="user_avatar_img default_mod h_48_mod hor_mod msg_comment_2_mod"/>
		</div>
		<div class="user_name default_mod h_48_mod hor_mod msg_comment_2_mod">Kristin Colony</div>
	  </div>
	  <div class="msg_time">3 Min Ago</div>
	</header>
	<div class="msg_content">
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labo et dolore magna aliqua.</p>
	</div>
  </div>
  <footer class="msg_footer">
	<div class="msg_comment_form">
	  <div class="user_block msg_comment_mod ">
		<div class="user_avatar_w msg_comment_mod ">
		  <img src="/i/ron-vail.jpg" alt="undefined" class="user_avatar_img msg_comment_mod"/>&ndash;&gt;
		</div>
	  </div>
	  <dl class="form_cell form_cell_v1_mod">
		<dt class="form_c_hline form_v1_mod hline_hide_mod">
		  <label for="Respond">Respond...</label>
		</dt>
		<dd class="form_c_f_w form_v1_mod hline_hide_mod">
		  <input type="text" id="Respond" placeholder="Respond..." class="f_c_field default_mod "/>
		</dd>
	  </dl>
	  <div class="butt_wrap msg_comment_mod">
		<div class="attach_butt">Add attachment</div>
		<div class="butt_comment_send">Send</div>
	  </div>
	</div>
  </footer>
</article>