  <h1 class="content_headline messages_center_mod">Roles and Permissions</h1>
  <div class="content_block">
    <h2 class="content_headline">Create new role</h2>
    <div class="add_info_block title_mod">
      <div class="add_info_header">
        <div class="add_info_title">Name Role
        </div>
        <div class="add_info_collapse_butt"></div>
      </div>
      <div class="add_info_content_block">
        <div class="add_info_form_block  ">
          <div class="add_info_form_w">
            <dl class="form_cell form_cell_v1_mod">
              <dt class="form_c_hline form_v1_mod hline_hide_mod">
                <label for="Enter_role_name">Enter role name</label>
              </dt>
              <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                <input type="text" id="Enter_role_name" placeholder="Enter role name" class="f_c_field default_mod ">
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="add_info_block permission_mod">
      <div class="add_info_header">
        <div class="add_info_title">Permissions
        </div>
        <div class="add_info_collapse_butt"></div>
      </div>
      <div class="add_info_content_block">
        <div class="add_info_form_block  ">
          <div class="add_info_form_w">
            <div class="permission_block">
              <header class="permission_header">
                <div class="permission_title">Admin</div>
                <div class="edit_permissions_butt">Edit Permissions</div>
                <div class="select_permissions_butt">Select</div>
              </header>
              <div class="permission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </div>
              <footer class="permission_footer">
                <div class="permissions_amount">39 Permissions</div>
                <div class="selected_permissions_amount main_mod">5 Selected</div>
                <div class="edit_permissions_butt main_mod">Edit Permissions</div>
              </footer>
              <div data-selected="0" class="permission_hidden_wrap">
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">14 Permissions</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_Set_as_Admin" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">Set as Admin</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_edit_business_profile" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to edit business profile</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_edit_operation_profile" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to edit operation profile</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_delete_operation" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to delete operation</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_add_product" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to add product</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_delete_product" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to delete product</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_add_service" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to add service</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_delete_service" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to delete service</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_add_employees" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to add employees</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_delete_employees" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to delete employees</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_add_to_set_permissionsvisibility_for_employees" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">add to set permissions/visibility for employees</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_select_Person-in-Charge_for_requirements" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to select Person-in-Charge for requirements</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_edit_person_profile" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to edit person profile</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_request_association_with_operation" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to request association with operation</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">6 Supply Chain</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_visibility" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">visibility</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_invite_suppliers_or_customers" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to invite suppliers or customers</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_set_visibility_permissions_for_company" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to set visibility permissions for company</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_set_visibility_permissions_for_operations" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to set visibility permissions for operation(s)</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_view_supply_chain_for_company" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view supply chain for company</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_view_supply_chain_for_operations" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view supply chain for operations</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">7 Compliance</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_create_requirements_for_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create requirements for supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_view_requirements_for_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view requirements for supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_view_compliance_of_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view compliance of supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_reset_compliance_of_operation_in_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to reset compliance of operation in supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_create_custom_requirements_for_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create custom requirements for supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_assign_requirements_to_members_of_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to assign requirements to members of supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_assign_notifications_to_other_users_for_non-compliance" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to assign notifications to other users for non-compliance</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">5 Compliance fulfillment</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_fulfill_requirements_upload_documents_data_fields" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to fulfill requirements (upload documents, data fields)</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_request_authentication_of_documents_and_data_fields" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to request authentication of documents and data fields</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_authorize_payment_for_authentication_services" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to authorize payment for authentication services</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_share_requirements_with_others" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to share requirements with others</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_view_requirements_if_part_of_the_share" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view requirements if part of the share</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">3 Auditor</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_authenticate_documents_and_information_based_on_qualifications" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to authenticate documents and information based on qualifications</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_quote_price_and_timeline_for_authentication" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to quote price and timeline for authentication</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_determinerestrict_visibility_in_auditor_directory" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to determine/restrict visibility in auditor directory</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">4 Message Center</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_import_contacts" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to import contacts</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_bulk_message_contacts_for_connection" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to bulk message contacts for connection</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_create_groups" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create groups</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_connect_with_supply_chain_members" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to connect with supply chain members</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="permission_block">
              <header class="permission_header">
                <div class="permission_title">Manager/Supervisor</div>
                <div class="edit_permissions_butt">Edit Permissions</div>
                <div class="select_permissions_butt">Select</div>
              </header>
              <div class="permission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </div>
              <footer class="permission_footer">
                <div class="permissions_amount">32 Permissions</div>
                <div class="selected_permissions_amount main_mod">5 Selected</div>
                <div class="edit_permissions_butt main_mod">Edit Permissions</div>
              </footer>
              <div data-selected="0" class="permission_hidden_wrap">
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">7 Permissions</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_add_product" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to add product</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_delete_product" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to delete product</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_add_service" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to add service</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_delete_service" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to delete service</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_select_Person-in-Charge_for_requirements" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to select Person-in-Charge for requirements</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_edit_person_profile" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to edit person profile</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_request_association_with_operation" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to request association with operation</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">6 Supply Chain</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_visibility" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">visibility</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_invite_suppliers_or_customers" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to invite suppliers or customers</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_set_visibility_permissions_for_company" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to set visibility permissions for company</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_set_visibility_permissions_for_operations" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to set visibility permissions for operation(s)</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_view_supply_chain_for_company" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view supply chain for company</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Supply_Chain_able_to_view_supply_chain_for_operations" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view supply chain for operations</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">7 Compliance</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_create_requirements_for_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create requirements for supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_view_requirements_for_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view requirements for supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_view_compliance_of_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view compliance of supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_reset_compliance_of_operation_in_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to reset compliance of operation in supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_create_custom_requirements_for_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create custom requirements for supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_assign_requirements_to_members_of_supply_chain" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to assign requirements to members of supply chain</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_able_to_assign_notifications_to_other_users_for_non-compliance" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to assign notifications to other users for non-compliance</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">5 Compliance fulfillment</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_fulfill_requirements_upload_documents_data_fields" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to fulfill requirements (upload documents, data fields)</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_request_authentication_of_documents_and_data_fields" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to request authentication of documents and data fields</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_authorize_payment_for_authentication_services" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to authorize payment for authentication services</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_share_requirements_with_others" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to share requirements with others</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_view_requirements_if_part_of_the_share" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view requirements if part of the share</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">3 Auditor</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_authenticate_documents_and_information_based_on_qualifications" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to authenticate documents and information based on qualifications</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_quote_price_and_timeline_for_authentication" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to quote price and timeline for authentication</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_determinerestrict_visibility_in_auditor_directory" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to determine/restrict visibility in auditor directory</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">4 Message Center</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_import_contacts" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to import contacts</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_bulk_message_contacts_for_connection" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to bulk message contacts for connection</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_create_groups" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create groups</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_connect_with_supply_chain_members" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to connect with supply chain members</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="permission_block">
              <header class="permission_header">
                <div class="permission_title">Employee/User</div>
                <div class="edit_permissions_butt">Edit Permissions</div>
                <div class="select_permissions_butt">Select</div>
              </header>
              <div class="permission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </div>
              <footer class="permission_footer">
                <div class="permissions_amount">5 Permissions</div>
                <div class="selected_permissions_amount main_mod">5 Selected</div>
                <div class="edit_permissions_butt main_mod">Edit Permissions</div>
              </footer>
              <div data-selected="0" class="permission_hidden_wrap">
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">2 Permissions</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_edit_person_profile" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to edit person profile</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_request_association_with_operation" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to request association with operation</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">1 Compliance fulfillment</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_view_requirements_if_part_of_the_share" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view requirements if part of the share</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">2 Message Center</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_import_contacts" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to import contacts</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_create_groups" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create groups</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="permission_block">
              <header class="permission_header">
                <div class="permission_title">Auditor</div>
                <div class="edit_permissions_butt">Edit Permissions</div>
                <div class="select_permissions_butt">Select</div>
              </header>
              <div class="permission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </div>
              <footer class="permission_footer">
                <div class="permissions_amount">12 Permissions</div>
                <div class="selected_permissions_amount main_mod">5 Selected</div>
                <div class="edit_permissions_butt main_mod">Edit Permissions</div>
              </footer>
              <div data-selected="0" class="permission_hidden_wrap">
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">1 Permissions</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Permissions_able_to_edit_person_profile" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to edit person profile</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">5 Compliance fulfillment</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_fulfill_requirements_upload_documents_data_fields" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to fulfill requirements (upload documents, data fields)</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_request_authentication_of_documents_and_data_fields" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to request authentication of documents and data fields</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_authorize_payment_for_authentication_services" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to authorize payment for authentication services</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_share_requirements_with_others" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to share requirements with others</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Compliance_fulfillment_able_to_view_requirements_if_part_of_the_share" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to view requirements if part of the share</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">3 Auditor</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_authenticate_documents_and_information_based_on_qualifications" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to authenticate documents and information based on qualifications</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_quote_price_and_timeline_for_authentication" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to quote price and timeline for authentication</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Auditor_able_to_determinerestrict_visibility_in_auditor_directory" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to determine/restrict visibility in auditor directory</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div data-sub-selected="0" class="permission_list_wrap">
                  <div class="permission_list_header">
                    <div class="permissions_amount list_wrap_mod">3 Message Center</div>
                    <div class="selected_permissions_amount list_wrap_mod">5 Selected</div>
                  </div>
                  <ul class="permission_list">
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_import_contacts" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to import contacts</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_create_groups" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to create groups</span>
                      </label>
                    </li>
                    <li class="permission_list_item">
                      <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                        <input name="Message_Center_able_to_connect_with_supply_chain_members" type="checkbox" class="lbl_inp_rb_ch permission_trigger"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_2_mod">able to connect with supply chain members</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add_info_block title_mod">
      <div class="add_info_header">
        <div class="add_info_title">Add users that role belongs to
        </div>
        <div class="add_info_collapse_butt"></div>
      </div>
      <div class="add_info_content_block">
        <div class="add_info_form_block  ">
          <div class="add_info_form_w">
            <dl class="form_cell form_cell_v1_mod">
              <dt class="form_c_hline form_v1_mod hline_hide_mod">
                <label for="Enter_name_of_employee">Enter name of employee</label>
              </dt>
              <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                <input type="text" id="Enter_name_of_employee" placeholder="Enter name of employee" class="f_c_field default_mod ">
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>