<div class="secondary_row layuot_mod_1 fixed_mod">
  <div class="section_menu mod_1">
    <h2 class="section_hline">Settings</h2>
    <ul class="section_menu_list">
      <li class="section_menu_l_item"><a href="" class="section_menu_link hovered_1_mod">Personal Settings</a>
      </li>
      <li class="section_menu_l_item"><a href="" class="section_menu_link hovered_1_mod active_mod">Roles &amp; Permissions<span class="section_m_link_count">3</span></a>
        <div class="menu_cat_view">
          <div class="menu_cat_option_butt filled_mod">
            <div data-option-text="View All" data-option-open-text="Collapse" class="menu_cat_option_butt_text filled_mod"></div>
          </div>
          <div class="menu_cat_view_hidden_b">
            <dl class="form_cell form_cell_v1_mod">
              <dt class="form_c_hline form_v1_mod hline_hide_mod menu_cat_search_mod">
                <label for="Search_for_role_name">Search for role name</label>
              </dt>
              <dd class="form_c_f_w form_v1_mod hline_hide_mod menu_cat_search_mod">
                <input type="text" id="Search_for_role_name" placeholder="Search for role name" class="f_c_field third_mod menu_cat_search_mod ">
              </dd>
            </dl>
            <ul class="menu_cat_search_result">
              <li class="menu_cat_search_result_item container_mod">
                <div class="menu_cat_s_result_el container_mod">Role Name #1</div><span class="menu_cat_edit">Edit</span>
              </li>
              <li class="menu_cat_search_result_item container_mod">
                <div class="menu_cat_s_result_el container_mod">Role Name #2</div><span class="menu_cat_edit">Edit</span>
              </li>
              <li class="menu_cat_search_result_item container_mod">
                <div class="menu_cat_s_result_el container_mod">Role Name #3</div><span class="menu_cat_edit">Edit</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="section_menu_l_item"><a href="" class="section_menu_link hovered_1_mod">Group Settings</a>
      </li>
      <li class="section_menu_l_item"><a href="" class="section_menu_link hovered_1_mod">Billing Info</a>
      </li>
    </ul>
  </div>
</div>