- if @invitable_roles.empty?
  %p There are no invitable roles defined for this #{@company.class.name.humanize}.
- else
  %section.invitations-new
    = section 'shared/form', locals: { model: resource, url: company_user_invitations_path(@company), submit_text: "Send Invitation" } do |f|
      = render partial: 'new', locals: {f: f}
