<div style= "background-color: #f2f2f2; width: 100%; padding: 40px 0;" >

  <div  style= "font-family: Lucida Grande, Lucida Sans, Lucida Sans Unicode, Arial, Helvetica, Verdana, sans-serif; background-color: #ffffff; color:#777777; font-size:16px; line-height: 1.5em; width: 698px; margin: 0 auto;" >

    <a href="http://www.greenfence.com/">
      <img src="http://f.cl.ly/items/3q3c1b2Q3O0F1V2C0X3E/logo.png" %></a>

<p><%= t('hello', email: @resource.name) %></p>
<p><%= t("change_your_password_through_the_link_below") %></p>

<p><%= link_to t("set_my_password"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t("your_password_wont_change_until_you_access_the_link_above_and_create_a_new_one") %></p>
</div>
</div>