<article class="profile_card_block">
  <span class="corner_ico service_mod"></span>
  <div class="user_block profile_card_mod ">
	<a class="user_avatar_w profile_card_mod " href="#service/{{data.id}}">
	  <img ng-src="{{data.profile_picture.profile_picture.thumb.url}}" alt="{{data.name}}" class="user_avatar_img profile_card_mod">
	</a>
	<a class="user_name profile_card_mod" href="#service/{{data.id}}">{{data.name}}</a>
	<div class="user_info profile_card_mod">{{data.company}}</div>
	<div class="user_text profile_card_mod" ng-if="data.description">
	  <p>{{data.description}}</p>
	</div>
  </div>
  <footer class="profile_card_b_footer">
	<div ng-controller="CompanyPublicProfileFollowCtrl" ng-if="current_user_id != data.service_owner.id">
	  <div ng-if="data.followed_by_current_user == false">
		<div class="card_follow_butt" ng-click="follow_me(data)"><%= t('follow') %></div>
	  </div>
	  <div ng-if="data.followed_by_current_user == true">
		<div class="card_follow_butt" ng-click="unfollow_me(data)"><%= t('unfollow') %></div>
	  </div>
	</div>
  </footer>
</article>